body {
	margin: 0px;
	font-family: sans-serif;
}


#game {
	background: rgb(39, 57, 61);
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game__up {
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	box-shadow: 0px 0px 15px 10px #2dff9d;
	background: linear-gradient(270deg, #42e0b9 0%, #238162 66.67%, rgb(157, 241, 178) 100%);
	color: aqua;
	border-radius: 50px;
	top: 330px;
	left: 26.1%;
}

.game__bottom {
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	box-shadow: 0px 0px 15px 10px #2dff9d;
	background: linear-gradient(270deg, #42e0b9 0%, #238162 66.67%, rgb(157, 241, 178) 100%);
	color: aqua;
	border-radius: 50px;
	top: 420px;
	left: 23.3%;
}

.game__left {
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	box-shadow: 0px 0px 15px 10px #2dff9d;
	background: linear-gradient(270deg, #42e0b9 0%, #238162 66.67%, rgb(157, 241, 178) 100%);
	color: aqua;
	border-radius: 50px;
	top: 375px;
	left: 18%;
}

.game__right {
	width: 50px;
	height: 50px;
	position: relative;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	box-shadow: 0px 0px 15px 10px #2dff9d;
	background: linear-gradient(270deg, #42e0b9 0%, #238162 66.67%, rgb(157, 241, 178) 100%);
	color: aqua;
	border-radius: 50px;
	top: 375px;
	left: 20%;
}

.game__up:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.2s;
}

.game__bottom:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.2s;
}

.game__left:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.2s;
}

.game__right:hover {
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	transition: 0.2s;
}

.game__btn {
	width: 150px;
	height: 50px;
	background: linear-gradient(270deg, #42e0b9 0%, #238162 66.67%, rgb(157, 241, 178) 100%);
	box-shadow: 0px 0px 15px 10px #2dff9d;
	color: aqua;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	position: relative;
	top: 350px;
	left: 65%;
	z-index: 990;
	border-radius: 50px;
	cursor: cell;
}

.game__btn:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: 0.45s;
  }

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.game-header {
	padding-top: 1vmin;
	padding-bottom: 1vmin;

	display: flex;
	justify-content: space-between;
}
.game-score {
	padding: 10px 15px;
	min-width: 160px;
	height: 50px;
	background: #48ffd1;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 5px #15c070;
	background: linear-gradient(270deg, #16b990 0%, #06f7a6 66.67%, #00ff40 100%);

	display: flex;
	justify-content: center;
	align-items: center;
}
.score-count{
	font-size: 3vmin;
	color: #52b891;
	font-weight: bold;
}

.canvas-wrapper {
	background-color: #58d3b4;
	border-radius: 5px;
	border: 10px solid #4ff097;
	box-shadow: 0px 0px 40px 10px #12fdea;

	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='8' cy='8' r='4' fill='%23525053'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media (max-width:2560px) {
	.game__bottom {
		top: 420px;
		left: 22.3%;
	}
	.game__up {
		top: 325px;
		left: 24.4%;
	}
}
@media (max-width:1920px) {
	.game__bottom {
		top: 420px;
		left: 23.3%;
	}
	.game__up {
		top: 325px;
		left: 26.1%;
	}
}
@media (max-width:1440px) {
	.game__btn {
		left: 75%;
	}
	.game__bottom {
		top: 420px;
		left: 24.7%;
	}
	.game__up {
		top: 330px;
		left: 28.4%;
	}
}
@media (max-width:1024px) {
	.game__btn {
		left: 55%;
	}
	.game__bottom {
		top: 418px;
		left: 17.2%;
	}
	.game__up {
		top: 333px;
		left: 22.4%;
	}
	.game__left {
		top: 375px;
		left: 8%;
	}
	.game__right {
		top: 375px;
		left: 10%;
	}
}
@media (max-width:768px) {
	.game__btn {
		left: 50%;
	}
	.game__bottom {
		top: 418px;
		left: 9.7%;
	}
	.game__up {
		top: 333px;
		left: 16.7%;
	}
	.game__left {
		top: 375px;
		left: -2%;
	}
	.game__right {
		top: 375px;
		left: 0;
	}
}
@media (max-width:425px) {
	.game__btn {
		left: 12%;
		top: 66px;
	}
	.game__bottom {
		top: 595px;
		left: -4%;
		opacity: 70%;
	}
	.game__right {
		top: 550px;
		left: -22%;
		opacity: 70%;
	}
	.game__left {
		top: 550px;
		left: -25%;
		opacity: 70%;
	}
	.game__up {
		top: 505px;
		left: 8.6%;
		opacity: 70%;
	}
}
@media (max-width:375px) {
	.game__btn {
		left: -3%;
		top: 66px;
	}
	.game__bottom {
		top: 590px;
		left: -1.8%;
		opacity: 70%;
	}
	.game__up {
		top: 508px;
		left: 13.1%;
		opacity: 70%;
	}
}
@media (max-width:320px) {
	.game__btn {
		left: 50%;
		top: 66px;
	}
	.game__bottom {
		top: 586px;
		left: 2%;
		opacity: 40%;
	}
	.game__right {
		opacity: 40%;
	}
	.game__left {
		opacity: 40%;
	}
	.game__up {
		top: 513px;
		left: 19.2%;
		opacity: 40%;
	}
}